*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inika-bold, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: center;
    top: 20px;
    margin: 0 auto; 
    z-index: 1000;
}

.background-image nav ul {
    background-color: #144067;
    opacity: 100%;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 50px; /* Adjust spacing between list items */
}

.background-image nav ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Adjust link color as needed */
}


.gallery-text {
    margin: 10px 40px 20px 40px; 
    color:#144067; 
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}

