*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.inika-bold, body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow-x: none;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%;
    height: 100vh;
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: right;
    top: 0px;
    margin: 0 auto; 
    z-index: 1000;
}

.background-image nav ul {
    background-color: #144067;
    opacity: 100%;
    list-style: none;
    padding: 24px;
    margin: 0;
    /* border-radius: 10px; */
    font-weight: bold;
    font-size: 19px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.background-image nav ul li:last-child {
    margin-right: 20px;
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.background-image nav ul li a:hover {
    text-decoration: none;
    color: black;
}

.pigeon-container {
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    left: 30px;
}

.pigeon-container img {
    width: 40px;
    height: auto;
}

.name {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    z-index: 1;
    font-size: 19px;
    text-decoration: none;
    color: white;
}

.name:hover {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    z-index: 1;
    font-size: 19px;
}

.gallery-text {
    margin: 30px 40px 20px 40px; 
    color:#144067; 
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

.gallery-box{
    margin: 30px 20px;
}

.modal-content {
    max-width: 550px;
    margin: auto;
}

.modal-body {
    text-align: center;
}

