*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.inika-bold, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%;
    height: auto;
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: center;
    top: 20px;
    margin: 0 auto; 
    z-index: 1000;
}

.background-image nav ul {
    background-color: #144067;
    opacity: 100%;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 50px;
}

.background-image nav ul li:last-child {
    margin-right: 0;
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.box {
    display: flex;
    max-width: 1500px;
    height: 600px;
    margin: 100px 100px 0px 100px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.edit-credentials {
    background-color: #144067;
    flex: 1;
    padding: 100px 50px;
}

.docu-name {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.info-title {
    margin: 35px 0px;
    color: #144067;
    text-align: center;
}

.inputs {
    margin-bottom: 20px;
}

.inputs label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}
.inputs input[type="password"],
.inputs input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid black;
}

.submit-btn-container {
    text-align: center;
}

.submit-btn {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0px;
    height: 40px;
    width: 100px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: black;
    color: white;
}

.submit-btn:active {
    background-color: black;
    color: white;
    transform: translateY(2px);
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}

.inbox-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.inbox-section {
    margin-left: 10px;
    /* overflow-y: auto; */
    flex: 4;
    padding-top: 50px;
    border: 1px sold black;
}

.table-section {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

td {
    height: 60px;
    border: none;
    padding: 0px 20px;
}

tr {
    background-color: #f2f6fc;
    border-right: none;
    padding: 20px;
    margin-bottom: 10px;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
}

tr:hover {
    background-color: white;
    /* border: 1px solid #b6b6b6;
    transform: translateY(3px); */
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

tr:active {
    background-color: white;
    transform: translateY(3px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #b6b6b6;
}

.message-card {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.message-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-card:hover {
    background-color: #f9f9f9;
}

.message-card.expand {
    background-color: #f9f9f9;
}

.message-content {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.message-content p {
    margin: 0;
}

.message-card.expand .message-content {
    display: block;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff9800;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}