*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.inika-bold, body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow-x: none;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%;
    height: 100vh;
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: right;
    top: 0px;
    margin: 0 auto; 
    z-index: 1000;
}

.background-image nav ul {
    background-color: #144067;
    opacity: 100%;
    list-style: none;
    padding: 24px;
    margin: 0;
    /* border-radius: 10px; */
    font-weight: bold;
    font-size: 19px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.background-image nav ul li:last-child {
    margin-right: 20px;
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.background-image nav ul li a:hover {
    text-decoration: none;
    color: black;
}

.pigeon-container {
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    left: 30px;
}

.pigeon-container img {
    width: 40px;
    height: auto;
}

.name {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    z-index: 1;
    font-size: 19px;
    text-decoration: none;
    color: white;
}

.name:hover {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    z-index: 1;
    font-size: 19px;
}

.container {
    max-width: 750px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.box-1 {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px 50px;
}

.title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    color: #144067;
    font-size: 45px;
}

.title1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #144067;
    font-size: 38px;
}

.form-intro {
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin: 0px auto 30px auto;
}

.docu-text {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #144067;
    font-size: 19px;
}

.docu-name, .docu-name1 {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}

.docu-name::after {
    content: " \002A"; 
    color: red;
}

.info-title {
    margin: 35px 0px;
    color: #144067;
    text-align: center;
}

.inputs {
    margin-bottom: 20px;
}

.inputs1 {
    margin-bottom: 20px;
    display: grid ;
    align-items: center;
    justify-content: center;
    gap:30px;
    grid-template-columns:repeat(2, 300px);

}


.inputs label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}
.inputs input[type="file"],
.inputs input[type="text"],
.inputs input[type="datetime-local"],
.inputs input[type="date"],
.inputs input[type="time"],
.inputs input[type="email"],
.inputs input[type="number"],
.inputs select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black;
}

.submit-btn-container {
    text-align: center;
}

.submit-btn {
    background-color: #144067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0px;
    height: 40px;
    width: 100px;
    font-weight: bold;
}

.submit-btn1-container {
    text-align: center;
}

.submit-btn1 {
    background-color: #144067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0px 10px 20px;
    height: 40px;
    width: 100px;
    font-weight: bold;
}

.choose-service {
    font-size: 17.5px;
    color: #144067;
    font-weight: bold;
}

.choose-btn {
    background-color: #144067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0px;
    height: 35px;
    width: 150px;
}

.hidden1, .hidden2 {
    display: none;
}

.radio-container {
    display: flex;
    align-items: center;
}

.label-name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

.services-option {
    margin-right: 5px;
}

.services-option:checked + .label-name {
    color: #144067;
}