* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.inika-bold, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%;
    height: 1000px;
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: center;
    top: 20px;
    margin: 0 auto; 
    z-index: 1000;
}

.background-image nav ul {
    background-color: #144067;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 50px;
}

.background-image nav ul li:last-child {
    margin-right: 0;
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.text-overlay p {
    font-size: 40px;
    font-weight: bold;
    color: #464646;
}

.section-background {
    background-color: rgba(60, 137, 172, 0.2);
}

.sort-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 200px 40px 200px;
}

.search-container {
    height: 45px;
    width: 60%;
}

#searchInput {
    width: 500px;
    height: 50px;
    border: 3px solid black;
    font-family: 'Roboto', sans-serif;

}

#filter-dropdown {
    width: 100px;
    height: 50px;
    border: 3px solid black;
    font-family: 'Roboto', sans-serif;

}

.sort-date-container {
    height: 45px;
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.sort-date-container option {
    background-color: #FFF;
    color: #144067;
    text-align: center;
}

.obituaries-container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 80px;
}

.obituaries-item {
    width: 280px;
    height: 315px;
    margin: 10px 0px;
    text-align: left;
    border-radius: 5px;
}

.obituaries-item:nth-child(even) {
    background-color: #335889;
}

.obituaries-item:nth-child(odd) {
    background-color: #144067;
}

.obituaries-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.obituaries-info {
    width: 280px;
    margin: 10px 20px;
    text-align: center;
}

.obituary-name, .obituary-date {
    margin: 5px 0;
}

.obituary-name {
    font-weight: bold;
    font-size: 25px;
    color: #144067;
}

.obituary-date {
    font-size: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}


.container {
    margin-right: 15px;
    width: 300px;
    appearance: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    height: 45px;


}

.dropdown {
    position: relative;
}

.dropdown select {
    appearance: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    height: 45px;
}

.dropdown select::after {
    content: '\25BC';
    font-size: 12px;
    color: #144067;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.review-page-container {
    margin: 30px 0px;
    padding: 0px;
}

.review-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 20px;
    color: #144067;
    font-size: 50px;
}

.review-data-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0px;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 10px 0px;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
    width: 43%;
}

.review img {
    height: 200px;
    width: 210px;
    margin-right: 20px;
    border-radius: 10px;
}

.review-details {
    flex-grow: 1;
}

#noResultsMessage {
    display: none;
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 80px;
}

@media only screen and (max-width: 768px) {
    .review {
        flex-basis: calc(50% - 20px);
    }
}
