*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.inika-bold, body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow-x: none;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%;
    height: 100vh;
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: right;
    top: 0px;
    margin: 0 auto; 
    z-index: 1000;
}

.background-image nav ul {
    background-color: #144067;
    opacity: 100%;
    list-style: none;
    padding: 24px;
    margin: 0;
    /* border-radius: 10px; */
    font-weight: bold;
    font-size: 19px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 30px;
}

.background-image nav ul li:last-child {
    margin-right: 20px;
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.background-image nav ul li a:hover {
    text-decoration: none;
    color: black;
}

.pigeon-container {
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    left: 30px;
}

.pigeon-container img {
    width: 40px;
    height: auto;
}

.name {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    z-index: 1;
    font-size: 19px;
    text-decoration: none;
    color: white;
}

.name:hover {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    z-index: 1;
    font-size: 19px;
}

.review-page-container {
    width: 75%;
    margin: 0px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.review-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
}

.review {
    flex: 0 1 calc(33.33% - 20px);
    /* background-color: #f9f9f9; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 15px 0px;
    color: black;
    padding: 30px 20px; 
    font-family: 'Roboto', sans-serif;
    height: 470px;
}

/* .review p {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
} */

.review-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #144067;
    font-size: 50px;
}

.filter-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}

.dropdown {
    position: relative;
}

.dropdown select {
    appearance: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 45px;
}

.dropdown select::after {
    content: '\25BC';
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.submit-btn1-container {
    text-align: center;
}

.submit-btn1 {
    background-color: #144067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0px 10px 20px;
    height: 40px;
    width: 100px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .review {
        flex-basis: calc(50% - 20px);
    }
}

.searchInput {
    margin-right: 15px;
    width: 300px;
    appearance: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    height: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review img {
    height: 200px;
    width: 210px;
    margin-right: 20px;
}

#noResultsMessage {
    display: none;
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin: 80px;
}

.obituary-name, .obituary-date {
    margin: 5px 0;
}

.obituary-name {
    margin: 20px 0px;
    font-weight: bold;
    font-size: 20px;
    color: #144067;
    overflow: hidden;
}

.obituary-date {
    font-size: 80%;
    color: #666;
    text-align: left;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

.obituary-date i {
    color: #144067;
}

@media only screen and (max-width: 768px) {
    .obituary-date {
        font-size: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .obituary-date {
        font-size: 80%;
    }
}