*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inika-bold, body {
    font-family: "Inika", serif;
    font-weight: 500;
    font-style: normal;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%; /* Adjust as needed */
    height: 1000px; /* Maintain aspect ratio */
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: center;
    top: 20px;
    margin: 0 auto; 
    z-index: 1000;
    font-weight: bold;
}

.background-image nav ul {
    background-color: #144067;
    opacity: 100%;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 50px; /* Adjust spacing between list items */
}

.background-image nav ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Adjust link color as needed */
}

.navbar {
    background-color: rgba(39, 39, 39, 0.3);
    width: 80%;
    left:10%;
    top:2rem;
    margin-bottom:4rem;    
}
.navbar-nav {
    width: 60%;
    margin-left:20%;
    justify-content: center; 
    background-color: rgba(39, 39, 39, 0.4);
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.nav-link {
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link:hover {
    color: #ffffff; 
}
.navbar-brand img {
    height: 50px; 
}
.navbar-brand span {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 5px;
    color: #ffffff; 
}
.image-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #ffffff; 
}
.cremation-header {
    font-size: 2rem;
    font-weight: bold;
    color: #071d31;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-top: 10px;
}

.cremation-info,
.burial-little-text {
    font-size: 20px;
    margin-top: 20px;
}

.cremation-types {
    background-color: #f2f2f2;
    padding: 20px;
}

.textbox {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

.float-location-burial,
.image-column {
    float: right;
    width: 50%;
    margin-top: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

.text-column {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.view-urn {
    text-align: center;
}

.btn-view-urn {
    background-color: #144067;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.grid-container-burial {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.grid-item {
    background-color: #efefef;
    padding: 20px;
    text-align: center;
}

.services-burial {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.burial1-header {
    color: #144067;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.burial2-text {
    font-size: 19px;
}

@media (min-width: 768px) {
    .grid-container-burial {
        grid-template-columns: repeat(2, 1fr);
    }
}


.box-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    background-color:#f2f2f2;
    margin: 20px 50px 50px 50px;
}

.flex-1 {
    padding: 40px;
    font-size: 16px;
    text-align: left;
    flex: 2;
    margin-right: 10px;
}

.flex-2 {
    padding: 20px;
    text-align: center;
    flex: 1;
    padding: 100px 20px;
}

.service-highlight {
    color: #144067;
    font-weight: bold;
}

.img-box {
    width: 100%;
    max-width: 360px; 
    height: 330px;
}

.view-btn {
    text-decoration: none;
    color: black;
    width: 100%; 
    max-width: 360px; 
    height: 40px;
    margin-top: 0; 
    background-color: #144067;
    color: white;
    font-family: "Inika", serif;
    font-weight: normal;
}

.view-btn:hover {
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch; 
    margin: 20px 50px 50px 50px;
    gap: 20px;
}

.box {
    padding: 30px 20px;
    background-color: #f2f2f2;
    flex: 1; 
    max-width: 430px; 
    box-sizing: border-box; 
}

.img-burial {
    display: block;
    margin: 0 auto;
    max-width: 330px; 
    height: 250px;
}

.burial-header {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: #144067;
    font-size: 19px;
}

.service-text {
    font: 17px;
    font-family: "Inika", serif;
    font: normal;
}

.intro-box {
    margin: 40px 50px;
}

.main-title {
    font-family: "Inika", serif;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    color: #144067;
    font-size: 45px;
}

.service-container {
    display: flex;
    margin: 0px 30px;
}
  
.service-item1 {
    flex: 2; 
    padding: 30px 70px;
    margin: 5px;
}

.service-item2 {
    flex: 1;
    padding: 30px 70px;
    margin: 5px;
}
  
.service-text {
    font-size: 19px;
}

.service-img {
    max-width: 500px;
    height: 300px;
}

.container {
    font-family: "Inika", serif;
    font-weight: normal;
    margin: 0;
}

.card-title {
    text-align: center;
}

.btn.btn-primary {
    background-color: #144067;
    border: none;
    display: block;
    margin: 0 auto;
    width: 80%;
}

.btn.btn-primary:hover {
    background-color: #144067;
    border: none ;
}

.service-header {
    font-family: "Inika", serif;
    color: #144067;
}

.service-section-header1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color:#144067;
    margin-top: 10px 30px;
}

.line{
    background-color:#144067;
    padding: 3px;
    margin-bottom: 10px;
}

.services{
    background-color:#3C89AC;
    background-color: rgb(76, 135, 173, 0.1)
}

.service-section-header2{
    position: relative;
    font-size: 1.8rem;
    left:5%;
    top:10px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.service-little-text1{
    position: relative;
    left:5%;
    top:20px;
    font-size: 18px;
}
.btn-view-details{
    position: relative;
    left:5%;
    padding: 10px 25px;
    background-color: #144067;
    color: white;
    font-weight: bold;
}
.img-service{
    position: relative;
    float:right;
    border: 1px black solid;
    width: 25%;
}
.img-service1{
    position: relative;
    float:right;
    border: 1px black solid;
    width: 25%;
    top:-30px;  
}

.grid-container-burial1 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 300px);
    gap:12%;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.grid-item1 {
    width: 135%;
    height: 200%;
    position: relative;
    margin-top: 120%;
    text-align: center;
    background-color: white;
    
}
.services-burial1{
    width: 100%;
    height:100%;
}
.service-title-casket{
    position: absolute;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left:4.3rem;
    margin-top:8rem;
    font-size: 4rem;
}
.btn-view-caskets{
    color:#ffffff;
    font-weight:bolder;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px 128px;
    background-color:#144067; ;
    border:1px solid black;
}
.btn-view-urns{
    color:#ffffff;
    font-weight:bolder;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px 145px;
    background-color:#144067; ;
    border:1px solid black;
}
.btn-view-facilities{
    color:#ffffff;
    font-weight:bolder;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px 120px;
    background-color:#144067; ;
    border:1px solid black;
}
.service-title-urn{
    position: absolute;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left:8.5rem;
    margin-top:8rem;
    font-size: 4rem;
}
.service-title-facility{
    position: absolute;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left:4.3rem;
    margin-top:8rem;
    font-size: 4rem;
}


.footer{
    width: 100%;
    text-align: center;
    background-color: #144067;
    color:black;
}
.footer-bottom{
    background-color: #071d31;
}
.footer-icons{
    font-size: 2rem;
}
.footer-icons1{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.footer-text{
    padding:10px;
    font-weight: bold   ;
}
.dove-footer{
    max-width: 3rem;
    transform: translate(-50%,-5%);
}


.main-caskets {
    margin: 120px;
    padding: 20px;
}

.service-title {
    text-align: center;
    font-size: 45px;
    color: #144067;
}

.service-intro {
    max-width: 900px;
    margin: 20px auto 60px auto;
    text-align: center;
    font-size: 18px;
}

.text-header{
    text-align: center;
    position: relative;
    top: 20px;
    color:#144067;
}

.container-burial{
    background-color: #EFEFEF;
}

.burial-package-container{
    text-align: center;
}

.burial-packages{
    display:grid;
    grid-template-columns: repeat(2, 550px);
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.burial-grid1{
    background-color: rgb(230, 229, 194);
    padding: 7%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.burial-box{
    border: #144067 8px solid;
    padding: 5%;
}

.burial-border{
    border: #144067 1px solid;
    padding: 50px 50px;
    text-align: center;
}

.pigeon{
    width: 2rem;
}

.title{
    font-size: 7px;
    position: relative;
    top: -7px;
}

.package{
    font-size: 35px;
    color:#144067;
    font-family: 'Courier New', Courier, monospace;
}

.price{
    font-size: 30px;
    color:#144067;
}

.inclusion1{
    font-size: 14px;
    position: relative;
    top:10px;
    color:#144067;
}

.inclusion2{
    font-size: 14px;
    position: relative;
    top:20px;
    color:#144067;
}

.select-btn{
    background-color: #144067;
    color: white;
    font-weight: bold;
    margin: 10px;
    height: 40px;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    top:-20px;
}

.container-traditional{
    background-color: #EFEFEF;
    margin-top: 40px;
}

.container-gathering{
    background-color: #EFEFEF;
    margin-top: 40px;
}

.container-direct{
    background-color: #EFEFEF;
    margin-top: 40px;
}

@media (max-width: 1400px) {
    .burial-packages {
        grid-template-columns: repeat(1, 500px);
        grid-template-rows: repeat(1, 400px);
        margin-top: 25%;
    }
}