<<<<<<< Updated upstream
.navbar {
    background-color: rgba(39, 39, 39, 0.3);
    width: 80%;
    left:10%;
    top:2rem;
    margin-bottom:4rem;    
}
.navbar-nav {
    width: 60%;
    margin-left:20%;
    justify-content: center; 
    background-color: rgba(39, 39, 39, 0.4);
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.nav-link {
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link:hover {
    color: #ffffff; 
}
.navbar-brand img {
    height: 50px; 
}
.navbar-brand span {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 5px;
    color: #ffffff; 
}
.image-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #ffffff; 
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inika-bold, body {
    font-family: "Inika", serif;
    font-weight: 500;
    font-style: normal;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%; /* Adjust as needed */
    height: 1000px; /* Maintain aspect ratio */
}

.background-image nav {
    position: fixed; 
    left: 0;
    right: 0;
    text-align: center;
    top: 20px;
    margin: 0 auto; 
    z-index: 1000;
}

.background-image nav ul {
    background-color: #144067;
    opacity: 100%;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
}

.background-image nav ul li {
    display: inline-block;
    margin-right: 50px; /* Adjust spacing between list items */
}

.background-image nav ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Adjust link color as needed */
}

>>>>>>> Stashed changes
.about-us{
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4rem;
    transform: translate(70%, 110%);
<<<<<<< Updated upstream
=======
    color:white;
>>>>>>> Stashed changes
}
.card-container{
    position: relative;
    left: 22%;
    margin-top: 3rem;
}
.choose-us{
    position: relative;
    left: 1.5rem;
    top:1rem;
}
.choose-us-color{
    color:#335889;
    font-weight: bold;
    font-size: 1.5rem;
}
.FAQs{
    position: relative;
    top:1rem;
    text-align: right;
    right: 1.5rem;
}
.img-choose{
    position: absolute;
    transform: translate(83%, 2%);
}
.img-FAQs{
    position: absolute;
    transform: translate(-2.5%, 2%);
}
.FAQs-color{
    color:#335889;
    font-weight: bold;
    font-size: 1.5rem;
}
.details{
    font-size: 15px;
}
.details2{
    font-size: 14px;
    transform: translate(63%, -4%);
}
.image{
    height: 680px;
    width: 65%;
}
.card-color{
    background-color: #f2f2f2;
}
.icon{
    font-size: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: white;
}
.contact-icons{
    text-align: center;
    transform: translate(45%, 15%);
}
.body-color{
    background-color: #335889;
}
.contact-text{
    padding: 0.5rem 2rem;
}
.contact-title{
    font-size:1.5rem;
    margin-top: 10px;
    font-weight: bold;
}
.contact-card-title{
    text-align: left;
}
.color-card-text{
    background-color: #F8F5F5;
}
.contact-header{
    text-decoration: underline;
    color: #144067;
    text-decoration-color: #144067;
    text-underline-offset: 5px;
}
.line{
    color: white;
}
.form-contact{
    transform: translate(105%, -90%);
    background-color: #F8F5F5;
    padding:2.5rem ;
    text-align: center;

}
.form-group{
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid 1px black;
}
.form-group input{
    font-size: 1.5rem;
}
.btn-submit{
    color: white;
    padding: 0.5rem 3rem;
    background-color: #144067;
}
.map{
    width: 80%;
    height: 30rem;
    transform: translate(12%, -80%);
}
.footer{
    width: 100%;
    text-align: center;
    background-color: #144067;
    color:black;
}
.footer-bottom{
    background-color: #071d31;
}
.footer-icons{
    font-size: 2rem;
}
.footer-icons1{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.footer-text{
    padding:10px;
    font-weight: bold   ;
}
.dove-footer{
    max-width: 3rem;
    transform: translate(-50%,-5%);
}

@media screen and (max-width:1400px){
    .contact-icons{
        transform: translate(5%, 15%);
    }
    .form-contact{
        transform: translate(65%, -90%);
        padding:1rem ;
    }
}

@media screen and (max-width:1000px){
    .form-contact{
        width:60%;
        text-align: center;
        transform: none;
        margin-top:9rem; 
        margin-left:5.5rem; 
    }
    .contact-icons{
        transform: translate(25%, 15%);
        align-items: center;
        width:100%;
    }
    .contact-header{
        text-decoration: none;
        text-underline-offset: none;
    }
    .map{
        text-align: center; 
        margin-top:27rem;
    }
    .card{
        width:50%;
    }
    .details2{
        transform: none;
    }
    .img-choose{
        visibility: hidden;
    }
    .img-FAQs{
        visibility: hidden;
    }
    .navbar{
        margin-top: 25%;
    }
    .about-bg{
        margin-bottom: 17%;
    }
}

@media screen and (max-width:700px){
    .navbar{
        margin-top: 25%;
    }
    .form-contact{
        width:70%;
        text-align: center;
        transform: none;
        margin-top:10rem; 
        margin-left:5.5rem; 
    }
    .contact-icons{
        transform: translate(15%, 15%);
        align-items: center;
        width:80%;
    }
}