*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inika-bold, body {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.background-image nav {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center; /* Center the navigation horizontally */
    top: 20px; /* Adjust top position as needed */
    margin: 20px;
}

.background-image nav ul {
    background-color: #393939;
    opacity: 60%;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
}

.background-image nav ul li {
    background-color: #393939;
    display: inline-block;
    margin-right: 50px; /* Adjust spacing between list items */
}

.background-image nav ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.background-image nav ul li a {
    text-decoration: none;
    color: #fff; /* Adjust link color as needed */
}

section.homepage-2 {
    background-color: #3C89AC;
    opacity: 30%;
}

.homepage-2-title {
    font-size: 64px;
    color: #144067;
    font-weight: initial;
    margin-top: 10px;
    text-align: center;
}

.service-container {
    
}


