*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inika-bold, body {
    font-family: "Inika", serif;
    font-weight: 500;
    font-style: normal;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%; /* Adjust as needed */
    height: 1000px; /* Maintain aspect ratio */
}

.background-image nav {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center; /* Center the navigation horizontally */
    top: 20px; /* Adjust top position as needed */
    margin: 20px;
}

.background-image nav ul {
    background-color: #393939;
    opacity: 70%;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
}

.background-image nav ul li {
    background-color: #393939;
    display: inline-block;
    margin-right: 50px; /* Adjust spacing between list items */
}

.background-image nav ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

.background-image nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Adjust link color as needed */
}

.text-overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.text-overlay p {
    font-size: 40px;
    font-weight: bold;
    color: #464646; /* Text color */
}

section.homepage-2, section.homepage-3, section.homepage-4 {
    background-color: rgba(60, 137, 172, 0.2); /* Background color with 50% opacity */
    margin: 40px 0;
}

.sort-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 200px 40px 200px;
}

.search-container {
    background-color: #FFFEFE;
    height: 45px;
    width: 60%;
    border-radius: 5px;
}

.sort-date-container {
    background-color: #FFFEFE;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Add a border */
    padding: 5px; /* Add some padding to the container */
    text-align: center; /* Center the text */
}

.sort-date-container option {
    background-color: #FFF; /* Background color of options */
    color: #333; /* Text color of options */
    text-align: center; /* Center the text */
}

.obituaries-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.obituaries-item {
    width: 280px;
    height: 315px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}

.obituaries-item-1 {
    background-color: #335889;
}

.obituaries-item-2 {
    background-color: #144067;
}

.obituaries-item-3 {
    background-color: #1A87B8;
}

.obituaries-item-4 {
    background-color: #335889;
}

.obituaries-item-5 {
    background-color: #144067;
}

.obituaries-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.obituaries-info {
    width: 280px;
    margin: 10px 20px;
    text-align: center;
}

.obituaries-name {
    margin-top: 20px; /* Add some space between the name and date */
    font-weight: bold; /* Make the name bold */
}

.obituaries-date {
    margin-top: 5px; /* Add some space between the name and date */
}

.homepage-title {
    font-size: 64px;
    color: #144067;
    font-weight: initial;
    text-align: center;
}

.service-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-item {
    position: relative;
    text-align: center;
    margin: 70px 20px;
}

.service-item img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: block;
}

.service-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
}

.learn-more {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bolder;
    color: #080808;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

h2.homepage-2-title {
    font-size: 40px;
    color: #144067;
    font-weight: initial;
    text-align: center;
}

p.homepage-2-description {
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
}

hr {
    margin: 40px 100px;
    border: none; /* Remove default border */
    border-top: 3px solid #144067; /* Set thicker border */
}

/* section.homepage-4 {
    background-color: rgba(60, 137, 172, 0.2); 
    margin: 40px 0;
} */

.under-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.stars-container {
    font-size: 50px; /* Adjust font size as needed */
    color: gold; /* Adjust color as needed */
    font-weight: bolder;
    text-align: center;
}

.review-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-container-1,
.review-container-2,
.review-container-3,
.review-container-4 {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center;
    margin: 30px 0 50px 30px;
    border-radius: 10px;
    height: 450px; /* Adjust height to fit content */
    width: 350px;
    background-color: #F2F2F2;
}

.avatar-container {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    border-radius: 50%; /* Make it a circle */
    overflow: hidden; /* Hide overflow content */
}

.avatar-container img {
    width: 100%; /* Make image fill container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover;
}

.avatar-info {
    text-align: center; /* Center text */
    margin-top: 10px; /* Adjust spacing */
}

.review-name,
.review-date {
    margin: 10px 0; /* Adjust margin */
}

.stars-container {
    margin: 5px 0; /* Adjust margin */
}

.avatar-review {
    text-align: center; /* Center text */
    margin: 10px 0; /* Adjust margin */
}

.review-text {
    margin: 0; /* Remove default margin */
}

.review-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    transition: 0.3s;
    background-color: #144067;
}
  
.original-button:hover {
    opacity: .7;
}

.homepage-5-title {
    font-size: 64px;
    color: #144067;
    font-weight: initial;
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px 20px;
}

.left-wrapper-container {
    border: solid 3px;
    height: 100%;
    width: 50%;
    background-color: #F2F2F2;
}

.left-wrapper-item {
    padding: 20px;
    margin: 0 20px;
}

.left-wrapper-item img {
    height: 10%;
    width: 100%;
}

.right-wrapper-container {
    border: solid 3px;
    height: 100%;
    width: 50%;
    background-color: #F2F2F2;
}

