.delete-btn {
    width: 110px;
    height: 38px;
    background-color: #144067;
    color: white;
    font-family: "Inika", serif;
    border-radius: 8px;
    border: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Inika", serif;
}

.delete-btn:hover, a:hover {
    opacity: 0.8;
    text-decoration: none;
    color: white;
}

.delete-btn:active {
    transform: translateY(4px);
}

#activate {
    background-color: red;
}

.table-title {
    text-align: center;
    color: #144067;
    font-weight: bold;
}

.table-subtitle {
    color: black;
    font-weight: bold;
}